.sidebar {
  flex: 0.3;
  max-width: 30%;
  height: 100vh;
  padding: 10px 0;
  border-right: 2px solid lightgray;
  display: flex;
  flex-direction: column;
}

.sidebar__top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.burgerMenu:hover {
  cursor: pointer;
  background-color: #80808020;
}

.burgerMenu__line {
  width: 20px;
  height: 2px;
  background-color: gray;
  margin: 2px 0;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 5px 10px;
  flex: 1;
}

.searchBar__input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.searchBar__input::placeholder {
  color: gray;
}

.menu {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 28px;
  width: 17%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: smaller;
  font-weight: 500;
  cursor: pointer;
}

.menu li:hover {
  background-color: #80808020;
  border-radius: 5px;
}

.menu h2 {
  margin-top: 10px;
  font-size: small;
  color: gray;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-left: 75px;
  top: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.message {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  left: 24%;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 100%;
    width: 100%;
  }

  .message {
    left: 80%;
  }

  .menu {
    width: 90%;
  }
}
